// Customize reveal.js font and related features
:root
  --r-main-font: Merriweather, serif
  --r-heading-font: Merriweather, serif
  --r-heading-text-transform: none
  --r-background-color: black  // Full black background
  --r-selection-background-color: #444
// Small-caps heading option
//.reveal
//  h1, h2, h3, h4, h5, h6
//    font-variant: small-caps

// Extend fragment animations to 1 second
.reveal .slides section .fragment
  opacity: 0
  visibility: hidden
  transition: all 1s ease
  will-change: initial
  &.visible
    opacity: 1
    visibility: inherit

// For debugging slide size, uncomment the following:
//.reveal .slides section
//  background: #111

// Left-justify bullets
ul, ol
  width: calc(100% - 1em)  // account for 1em left margin
  box-sizing: border-box

// Formatting tools specific to this presentation
cite
  color: #c0a5c0
  font-weight: normal
  /h2 &
    font-size: 85%
.columns
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
.column
  text-align: center !important
  max-height: 100%
  display: flex
  flex-direction: column
  align-items: center
  &.fill
    flex-basis: 0
    flex-grow: 1
    align-self: stretch
  &.space
    width: 30px
  &.arrow
    font-size: 200%
    &:before
      content: '🡆'

.text-center
  text-align: center !important
.vertical-middle
  vertical-align: middle !important
.d-inline-block
  display: inline-block

.invert
  filter: invert(1) hue-rotate(180deg)
.url
  display: block
  font-size: 40%
  font-family: monospace
.sep
  display: inline-block
  color: #9a5b9a
  margin: 0 0.25em
