section
  h1(style="font-variant: small-caps; font-size: 2em") Characterizing Universal Reconfigurability of Modular Pivoting Robots
  hr
  h4
    | Hugo&nbsp;Akitaya
    span.sep &bull;
    u Erik&nbsp;Demaine
    span.sep &bull;
    | Andrei&nbsp;Gonczi
    span.sep &bull;
    | Dylan&nbsp;Hendrickson
    span.sep &bull;
    | Adam&nbsp;Hesterberg
    span.sep &bull;
    | Matias&nbsp;Korman
    span.sep &bull;
    | Oliver&nbsp;Korten
    span.sep &bull;
    | Jayson&nbsp;Lynch
    span.sep &bull;
    | Irene&nbsp;Parada
    span.sep &bull;
    | Vera&nbsp;Sacristán

svg(width="0px", height="0px")
  // Diagonal hatching: scaling of https://stackoverflow.com/a/22643745
  pattern#hatch(width=.12, height=.12, patternTransform="rotate(45 0 0)", patternUnits="userSpaceOnUse")
    line(y2=.12, stroke="var(--bad-color)", stroke-width=".09")

section
  h2 Square Pivoting Models
  .columns.r-stretch
    .column
      .columns
        svg.column(viewBox="-0.1 -0.1 2.2 3.2", style="height: 200px")
          rect.bad(x=0, y=0, width=1, height=1)
          rect.bad(x=1, y=0, width=1, height=1)
          rect.bad(x=0, y=1, width=1, height=1)
          rect.bad(x=1, y=1, width=1, height=1)
          rect.robot(x=0, y=2, width=1, height=1)
          rect.robot(x=1, y=2, width=1, height=1)
          rect.robot.r1.rotate-90(x=0, y=1, width=1, height=1, style="transform-origin: 1px 2px")
        .column.space
        svg.column(viewBox="-0.1 -0.1 3.2 3.2", style="height: 200px")
          rect.bad(x=0, y=0, width=1, height=1)
          rect.bad(x=1, y=0, width=1, height=1)
          rect.empty(x=2, y=0, width=1, height=1)
          rect.bad(x=0, y=1, width=1, height=1)
          rect.bad(x=1, y=1, width=1, height=1)
          rect.bad(x=2, y=1, width=1, height=1)
          rect.bad(x=1, y=2, width=1, height=1)
          rect.bad(x=2, y=2, width=1, height=1)
          rect.robot(x=0, y=2, width=1, height=1)
          rect.robot.r1.rotate-180(x=0, y=1, width=1, height=1, style="transform-origin: 1px 2px")
      p Restricted<br>moves
    .column.fragment
      svg(viewBox="-0.1 -0.1 3.2 3.2", style="height: 200px")
        rect.bad(x=0, y=0, width=1, height=1)
        rect.bad(x=1, y=0, width=1, height=1)
        rect.empty(x=2, y=0, width=1, height=1)
        rect.bad(x=0, y=1, width=1, height=1)
        rect.bad(x=1, y=1, width=1, height=1)
        rect.empty(x=1, y=2, width=1, height=1)
        rect.empty(x=2, y=2, width=1, height=1)
        rect.robot(x=0, y=2, width=1, height=1)
        rect.robot(x=2, y=1, width=1, height=1)
        rect.robot.r1.rotate-90(x=0, y=1, width=1, height=1, style="transform-origin: 1px 2px")
      p Leapfrog<br>move
    .column.fragment
      .columns
        svg.column(viewBox="-0.1 -0.1 3.2 3.2", style="height: 200px")
          rect.bad(x=0, y=0, width=1, height=1)
          rect.bad(x=1, y=0, width=1, height=1)
          rect.bad(x=2, y=0, width=1, height=1)
          rect.bad(x=0, y=1, width=1, height=1)
          rect.bad(x=1, y=1, width=1, height=1)
          rect.bad(x=2, y=1, width=1, height=1)
          rect.empty(x=1, y=2, width=1, height=1)
          rect.robot(x=0, y=2, width=1, height=1)
          rect.robot(x=2, y=2, width=1, height=1)
          g.rotate-90-2o2(style="transform-origin: 2px 2px")
            rect.robot.r1.rotate-90-1o2(x=0, y=1, width=1, height=1, style="transform-origin: 1px 2px")
        .column.space
        svg.column(viewBox="-0.1 -0.1 3.2 3.2", style="height: 200px")
          rect.bad(x=0, y=0, width=1, height=1)
          rect.bad(x=1, y=0, width=1, height=1)
          rect.bad(x=0, y=1, width=1, height=1)
          rect.bad(x=1, y=1, width=1, height=1)
          rect.empty(x=2, y=1, width=1, height=1)
          rect.empty(x=1, y=2, width=1, height=1)
          rect.empty(x=2, y=2, width=1, height=1)
          rect.robot(x=0, y=2, width=1, height=1)
          rect.robot(x=2, y=0, width=1, height=1)
          g.rotate-90-2o2(style="transform-origin: 2px 1px")
            rect.robot.r1.rotate-90-1o2(x=0, y=1, width=1, height=1, style="transform-origin: 1px 2px")
      p Monkey<br>move
