section
  h1(style="font-variant: small-caps; font-size: 2em") Characterizing Universal Reconfigurability of Modular Pivoting Robots
  hr
  h4
    | Hugo&nbsp;Akitaya
    span.sep &bull;
    u Erik&nbsp;Demaine
    span.sep &bull;
    | Andrei&nbsp;Gonczi
    span.sep &bull;
    | Dylan&nbsp;Hendrickson
    span.sep &bull;
    | Adam&nbsp;Hesterberg
    span.sep &bull;
    | Matias&nbsp;Korman
    span.sep &bull;
    | Oliver&nbsp;Korten
    span.sep &bull;
    | Jayson&nbsp;Lynch
    span.sep &bull;
    | Irene&nbsp;Parada
    span.sep &bull;
    | Vera&nbsp;Sacristán
