svg.tokens
  // Token colors.  Originally based on rainbow palette from
  // https://loading.io/color/feature/Rainbow/, but modified for one more color.
  .t1
    fill: #e6261f
  .t2
    fill: #eb7532
  .t3
    fill: #f7d038
  .t4
    fill: #a3e048
  .t5
    fill: #49da9a
  .t6
    fill: #34bbe6
  .t7
    fill: #4355db
  .t8
    //fill: #d23be7
    fill: #9f3be7
  .t9
    fill: #e634d0
  .t11
    fill: hsl(0,0,6%)
  .t12
    fill: hsl(0,0,12%)
  .t13
    fill: hsl(0,0,18%)
  .t14
    fill: hsl(0,0,24%)
  .t15
    fill: hsl(0,0,30%)
  .t16
    fill: hsl(0,0,36%)
  .t17
    fill: hsl(0,0,42%)
  .t18
    fill: hsl(0,0,48%)
  .t19
    fill: hsl(0,0,54%)
  .t20
    fill: hsl(0,0,60%)
  .t21
    fill: hsl(0,0,66%)
  .t22
    fill: hsl(0,0,72%)
  .t23
    fill: hsl(0,0,78%)
  .t24
    fill: hsl(0,0,84%)
  .t25
    fill: hsl(0,0,90%)
  .t26
    fill: hsl(0,0,96%)

  // SVG styling
  circle  // token
    stroke: black
    stroke-width: 3px
    fill: #aaa
  rect  // graph node
    stroke: white
    stroke-width: 3px
    fill: #aaa
  line  // graph edge
    stroke: white
    stroke-width: 10px
    stroke-linecap: square
  // Glows and drop shadow effects
  circle
    filter: drop-shadow(0px 0px 3px #000)
  rect
    filter: drop-shadow(0px 0px 4px #bbb)
  line
    filter: drop-shadow(0px 0px 4px #bbb)

table.side-by-side
  table-layout: fixed
  width: 100%
  td
    width: 50%
table.compact
  td, th
    padding: 0 0.5em

li > .tokens
  vertical-align: middle
